@model Cinemania.Peliculas

@{
    Layout = "/Views/Shared/_LayoutAdministracion.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NuevoPelicula</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>

    

    <div class="container">
        @*using (Html.BeginForm("/NuevoPelicula", "Administracion", new { enctype = "multipart/form-data", @class = "text-danger" }))*@

        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div id="loginbox" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">

                <!-- CABECERA -->
                <h2 class="text-center">Nuevo</h2>

                <!-- INPUT NOMBRE -->
                <div class="form-group">
                    <label for="Nombre">Nombre</label>
                    @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                 
                </div>

                <!-- INPUT DESCRIPCION -->
                <div class="form-group">
                    <label for="descripcion">Descripcion</label>
                    @*Html.TextBoxFor(model => model.Descripcion, new { placeholder = "Ingresar Descripcion", @class = "form-control" })*@
           

                    @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
                </div>

                <!-- INPUT CALIFICACION -->
                <div class="form-group">

                   @*<label for="IdCalificacion">Calificacion</label>
                    <select>
                        <option value="ATP">ATP</option>

                        <option value="May13">May13</option>
                        <option value="May13R">May13R</option>

                        <option value="May16">May16</option>
                        <option value="May16R">May16R</option> 

                    </select>*@
                    @*Html.DropDownList("IdCalificacion", (IEnumerable<SelectListItem>)ViewBag["IdCalificacion"], "Selecione genero", new { @class = "form-control" }) *@
                    @*Html.DropDownList("id_cate", String.Empty);*@
                    @*Html.DropDownList("Peliculas", new SelectList(ViewBag.listaCursos, "IdGenero", "Nombre"))*@
                    @Html.DropDownList("IdCalificacion", null, "Selecione Clasificación", new { @class = "form-control" })

                </div>

                <!-- INPUT GENERO -->
                <div class="form-group">
                    @*<label for="IdGenero">Genero</label>
                    <select>
                        <option value="Terror">Terror</option>
                        <option value="Thriller">Thriller</option>
                        <option value="Accion">Accion</option>
                        <option value="Comedia">Comedia</option>
                        <optiSSon value="ComediaR">ComediaR</optiSSon>
                    </select>*@

                    @*Html.DropDownList("IdGenero", (IEnumerable<SelectListItem>)ViewBag["IdGenero"], "Selecione calificacion", new { @class = "form-control" })*@
                     @Html.DropDownList("IdGenero", null, "Selecione genero", new { @class = "form-control" }) 
                    </div>





                    <!-- INPUT IMAGEN -->
                    <div class="form-group">
                        <label for="Imagen">Imagen</label>
                        @Html.TextBoxFor(model => model.Imagen, new { Type = "file" })
                        @Html.ValidationMessageFor(model => model.Imagen, "", new { @class = "text-danger" })
                    </div>


                    <!-- INPUT DURACION -->
                    <div class="form-group">
                        <label for="Duracion">Duracion</label>
                        @Html.EditorFor(model => model.Duracion, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Duracion, "", new { @class = "text-danger" })
                    </div>

                    <!-- BOTON GUARDAR -->
                    <div class="text-center">
                        <input type="submit" class="btn btn-success" value="Guardar" />

                        <!-- LINK SALIR -->
                        <a href="./Peliculas" class="btn btn-default">Cancelar</a>
                    </div>



                </div>}
        </div>


        <script src="~/Scripts/jquery-3.1.1.min.js"></script>
        <script src="~/Scripts/jquery.validate.min.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

    </body>
    </html>