@model List<Cinemania.Peliculas>

@{
    Layout = "/Views/Shared/_LayoutAdministracion.cshtml";
}

<body>

   

   

    <div class="container">

        <h2 class="text-center">Peliculas</h2>

        <!-- LINK VOLVER -->
        <div class="btn-group">
            <a href="./Inicio" class="btn btn-danger"><span class="glyphicon glyphicon-arrow-left"></span> Volver</a>
        </div>

        <!-- LINK NUEVO -->
        <div class="btn-group">
            <a href="./NuevoPelicula" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Nuevo</a>
        </div>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Descripcion</th>
                    <th>Imagen</th>
                    <th>Genero</th>
                    <th>Duracion</th>
                    <th class="text-center">Operacion</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Cinemania.Peliculas p in Model)
                {
                    <tr>
                        <td>@p.IdPelicula</td>
                        <td>@p.Nombre</td>
                        <td>@p.Descripcion</td>
                        <td><img src="/imagenes/@p.Imagen" width="130" height="90" /></td>
                        <td>@p.Generos.Nombre</td>
                        <td>@p.Duracion</td>
                        <td class="text-center"><a href="./EditarPelicula?IdPelicula=@p.IdPelicula" class="btn btn-info"><span class="glyphicon glyphicon-pencil"></span> Editar</a></td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
</body>